body{
    background: linear-gradient(180deg, #000000, #2b0000, #000000);
    margin: 0;
    padding: 0;
}

.nave{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 5px;
    height: auto;
    font-family: "Bitcount Grid Single", system-ui;
}

.nave span{
    display: none;
    margin-left: 5px;
}

.nave ul li a:hover span{
    display: inline;
}

.nave ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

.nave ul li a{
    color: white;
    text-decoration: none;
    background-color: rgb(26, 26, 26);
    padding: 8px 15px;
    border-radius: 20px;
    transition: 0.3s;
    display: inline-block;
    line-height: 30px;
}

.nave ul li a:hover{
    transform: scale(1.03);
    box-shadow: 0 0 30px #ff0000;
    background-color: red;
    color: black;
}


.titulo{
    width: 100%;
    margin: 0;
    text-align: center;
}

.titulo h1{
    font-family: "Creepster", system-ui;
    color: red;
    font-size: 100px;
    margin: 0;
}

/*-----FORMULARIO-----*/
.cformulario {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

.contactos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: auto;
}

.fondo {
  width: 100%;
  background: linear-gradient(180deg, #2b0000, #000000);
  box-shadow: 0 0 40px #a80000;
  border-radius: 30px;
  padding: 40px 0;
  opacity: 0.95;
  border: 2px solid #ff0000;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fondo h3 {
  color: #ff0000;
  font-family: "Creepster", system-ui;
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
  text-shadow: 0 0 20px #ff0000;
}

.fondo form {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Texto a la derecha del input */
span {
  color: #ffffff;
  text-shadow: 0 0 10px red;
  width: 100%;
  text-align: right;
  font-family: "Creepster", system-ui;
}

/* Input centrado */
.inp {
  border: 2px solid #ff0000;
  border-radius: 10px;
  background-color: rgba(60, 0, 0, 0.7);
  width: 100%;
  height: 40px;
  font-size: 20px;
  color: #ff4d4d;
  padding: 8px 10px;
  transition: all 0.4s ease;
  box-shadow: inset 0 0 10px #ff0000;
  margin: 10px;
}

.inp:focus {
  outline: none;
  background-color: #300000;
  box-shadow: 0 0 25px #ff0000;
}

.boton {
  width: 50%;
  height: 45px;
  font-size: 22px;
  border: 0;
  background: linear-gradient(90deg, #5a0000, #a80000, #ff0000);
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s;
  text-shadow: 1px 1px 10px black;
  font-family: "Creepster", system-ui;
  margin-top: 20px;
}

.boton:hover {
  transform: scale(1.1);
  box-shadow: 0 0 25px #ff0000;
  background: linear-gradient(90deg, #ff0000, #a80000, #5a0000);
}

input[type="checkbox"] {
  appearance: none;
  width: 25px;
  height: 25px;
  border: 2px solid #ff0000;
  border-radius: 5px;
  background-color: black;
  box-shadow: 0 0 5px #ff0000;
  cursor: pointer;
  transition: all 0.3s ease;
}

input[type="checkbox"]:checked {
  background-color: #ff0000;
  box-shadow: 0 0 15px #ff0000;
}

input[type="checkbox"]:checked::after {
  content: "✔";
  color: white;
  position: relative;
  left: 4px;
  top: -2px;
  font-size: 16px;
}

span {
  color: #ffffff;
  font-size: 25px;
  text-shadow: 0 0 10px red;
}

.icon {
    position: fixed;   /* lo fija en la pantalla */
    bottom: 20px;      /* distancia desde el borde inferior */
    right: 20px;        /* distancia desde el borde izquierdo */
    z-index: 1000;     /* para que esté sobre otros elementos */
}

.icon img {
    height: 200px;
    animation: flotar 3s ease-in-out infinite;
}

@keyframes flotar {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@media screen and (max-width:600px){
    body {
        background-repeat: no-repeat;
        background-size: cover;
    } 
    .nave ul{
        gap: 5px;
        padding-left: 0;
    }
    .nave ul li a{
        padding: 5px 10px;
    }
    .icon img{
        height: 111px; 
    }
    .icon{
        bottom: 10px;
        right: 10px;
    }
    .imgaux{
        border-radius: 50%;
        height: 200;
    }
}