body{
    background-image: url(../imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.nave{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 5px;
    height: auto;
    font-family: "Bitcount Grid Single", system-ui;
    width: 100%;
}

.nave span{
    display: none;
    margin-left: 5px;
}

.nave ul li a:hover span{
    display: inline;
}

.nave ul{
    list-style: none;
    display: flex;
    gap: 20px;
    padding-left: 0;
}

.nave ul li a{
    color: white;
    text-decoration: none;
    background-color: rgba(137, 43, 226, 0.435);
    padding: 8px 15px;
    border-radius: 20px;
    transition: 0.3s;
    display: inline-block;
    line-height: 30px;
}

.nave ul li a:hover{
    transform: scale(1.03);
    box-shadow: 0 0 30px #b3ff00;
    background-color: greenyellow;
    color: black;
}

.titulo{
    text-align: center;
}

.titulo h1{
    font-family: "Creepster", system-ui;
    color: greenyellow;
    font-size: 100px;
    height: auto;
    margin: 20px;
}

.text{
    text-align: center;
}

.text p{
    font-family: "Ubuntu Mono", monospace;
    color: white;
    font-size: 25px;
    margin: 30px;
    padding-left: 150px;
    padding-right: 150px;
}

.text p.dos{
    font-family: "Creepster", system-ui;
    color: orangered;
    text-transform: uppercase;
    font-size: 55px;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon img{
    height: 200px;
}

.icon img {
    height: 200px;
    animation: flotar 3s ease-in-out infinite;
}

@keyframes flotar {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

/*-----RESPONSIVE-----*/

@media screen and (max-width: 600px){
    body{
        background-image: none;
        background-color: #581974;
        background-image: radial-gradient(circle at top left, rgba(255,255,255,0.1), transparent 70%);
        background-repeat: no-repeat;
    }
    .nave ul{
        gap: 5px;
    }
    .nave ul li a{
        padding: 5px 10px;
    }

    .titulo h1{
        font-size: 80px; 
    }
}
